.basic-card {
  border: 2px solid;
  border-radius: 4px;

  figure {
    background-color: #030303;
    border-radius: 4px;

    figcaption {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.8rem;
      font-weight: bold;
      padding: 0.2rem 1rem 0.5rem;
    }

    img {
      width: 100%;
      aspect-ratio: 1;
      object-fit: cover;
      object-position: top center;
      border-radius: 2px 2px 0 0;
    }
  }
}
