.card {
    border: 4px solid;
    border-radius: 20px;

    figcaption {
        font-weight: bold;
    }

    .houseBox {
        display: flex;
        align-items: center;
        gap: 10%;
        background-color: #000;
        border-radius: 15px 15px 0 0;

        img {
            width: 60px;
            height: 60px;
        }

        figcaption {
            text-shadow: 1px 1px #0d738d;
        }
    }

    .charBox {
        background-color: #000;
        border-radius: 0 0 15px 15px;

        figcaption {
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center; 
            color: #FFF;
        }

        img {
            width: 250px;
            height: 300px;
            object-fit: cover;
            object-position: center top;
        }
    }
}