@font-face {
  font-family: 'HP';
  src: url(../assets/font/harry_p/HARRYP__.TTF);
}

html, body, div, figure, ul, h1, header {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  font-family: 'New Tegomin', serif;
  font-size: 1.2rem;
  background-color: #000f28;
}

button {
  font-family: 'New Tegomin', serif;
  border: none;
  background-color: transparent;
  color: #FFF;
  cursor: pointer;
}