.container {
  display: grid;
  place-content: center;
  flex-grow: 1;
  padding-top: 100px;
}

.card {
  width: 300px;
  height: calc(300px / 1.5);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  perspective: 2500px;
  outline: none;

  &:is(:hover, :focus-within) .card__wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  }

  &:is(:hover, :focus-within) .card__wrapper::before,
  .card__wrapper::after {
    opacity: 1;
  }

  &:is(:hover, :focus-within) .card__wrapper::after {
    height: 120px;
  }

  &:is(:hover, :focus-within) .card__character {
    opacity: 1;
    transform: translate3d(0%, -30%, 400px);
  }
}

.card__cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.card__wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.card__wrapper::before,
.card__wrapper::after {
  content: '';
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}

.card__wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.card__wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.card__character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}

.card__link {
  position: relative;
  z-index: 1;
  bottom: 16px;
  background-color: rgb(0 15 40 / 63%);
  padding: 0.4rem 0.8rem 0.6rem;
  border-radius: 12px;
  font-size: 1.2rem;
  color: #fefefe;
  border: 1px solid gold;
  transition: color 200ms ease-in-out;

  &:is(:hover, :focus-visible) {
    color: gold;
  }
}
