header {
    height: 15vh;
    background-color: #01091e;
    border-bottom: 1px solid #FFF;
    
    h1 {
        font-family: 'HP';
        font-size: 4.5rem;
        text-shadow: 4px 4px #000;
        text-align: center;
        color: #FFF;
        padding-top: 1rem;
    }
}