header {
    height: 15vh;
    background-color: #01091e;
    
    h1 {
        font-family: 'HP';
        font-size: 4.5rem;
        text-align: center;
        color: #FFF;
        padding-top: 1rem;
    }
}